# Assignment-1 
(09 May Assignment)

**Q1.** Create one variable containing following type of data:<br>
(i) string<br>
(ii) list<br>
(iii) float<br>
(iv) tuple<br>

**Solution-1**

In [1]:
a = "hello"
b = [1,2,3,"hii",4.2,True]
c = 34.654
d = (1,2,3,4)

**Q2.** Given are some following variables containing data:<br>
(i) var1 = ‘ ‘<br>
(ii) var2 = ‘[ DS , ML , Python]’<br>
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]<br>
(iv) var4 = 1.<br>
What will be the data type of the above given variable.

**Solution-2**

In [3]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [6]:
type(var1)

str

In [7]:
type(var2)

str

In [8]:
type(var3)

list

In [9]:
type(var4)

float

The data type of following variables are:<br>
(i) var1 : string<br>
(ii) var2 : string<br>
(iii) var3 : list<br>
(iv) var4 : float<br>

**Q3.** Explain the use of the following operators using an example:<br>
(i) /<br>
(ii) %<br>
(iii) //<br>
(iv) **<br>

**Solution-3**

(i) / is the division operator used for divinding two operands.<br>
for ex:

In [11]:
54/3

18.0

(ii) % is the modulus operator used for getting remainder remaining after the division between two operands.<br>
for ex:

In [12]:
45%4

1

(iii) // is the floor division operator that returns the value rounded off to the nearest integer after divison.<br>
for ex:

In [16]:
9//2

4

(iv) ** is the exponent operator used to get the power of an 1st operand raised to 2nd operand.<br>
for ex:

In [17]:
20**3

8000

**Q4.** Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

**Solution-4**

In [18]:
l = [1,2,3,4,5,"hello","India",45.3,61.986,False]

In [21]:
for i in l:
    print('The type of element',i,'is :', type(i))

The type of element 1 is : <class 'int'>
The type of element 2 is : <class 'int'>
The type of element 3 is : <class 'int'>
The type of element 4 is : <class 'int'>
The type of element 5 is : <class 'int'>
The type of element hello is : <class 'str'>
The type of element India is : <class 'str'>
The type of element 45.3 is : <class 'float'>
The type of element 61.986 is : <class 'float'>
The type of element False is : <class 'bool'>

**Q5.** Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

**Solution-5**

In [20]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
count = 0
if a % b == 0:
    print(a, "is purely divisible by", b)
    while a % b == 0:
        a = a // b
        count += 1
else:
    print(a, "is not purely divisible by", b)
print("No. of times it is divisible", b, "is", count, "times.")

Enter first number:  256
Enter second number:  2

256 is purely divisible by 2
No. of times it is divisible 2 is 8 times.

**Q6.** Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

**Solution-6**

In [4]:
l1 = [23,12,54,23,76,342,64,324,513,65,386,985,45,64,86,63,551,81,329,5448,3,69,90,41,75]

In [6]:
for i in l1:
    if i%3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

23 is not divisible by 3
12 is divisible by 3
54 is divisible by 3
23 is not divisible by 3
76 is not divisible by 3
342 is divisible by 3
64 is not divisible by 3
324 is divisible by 3
513 is divisible by 3
65 is not divisible by 3
386 is not divisible by 3
985 is not divisible by 3
45 is divisible by 3
64 is not divisible by 3
86 is not divisible by 3
63 is divisible by 3
551 is not divisible by 3
81 is divisible by 3
329 is not divisible by 3
5448 is divisible by 3
3 is divisible by 3
69 is divisible by 3
90 is divisible by 3
41 is not divisible by 3
75 is divisible by 3

**Q7.** What do you understand about mutable and immutable data types? Give examples for both showing
this property.

**Solution-7**

**Mutable Data Types** Mutable data types are those whose values can be changed or modified after they are created. For example: Lists, Dictionaries, etc.<br>
**Imutable Data Types** Imutable data types are those whose values cannot be changed or modified after they are created. For example: Strings, Tuples, etc.

*Showing this property using an example of list and string*

**List:**

In [11]:
l2 = [2,3,4,5,"hello",4.65,True]

Extracting 3rd element of list l2

In [12]:
l2[2]

4

Changing 3rd elements value to 7

In [13]:
l2[2] = 7

Printing list l2 to check whether the changes are done or not

In [18]:
l2

[2, 3, 7, 5, 'hello', 4.65, True]

**The elements of a list can be changed or modified. Hence it ia a mutable data type.**

**String:**

In [15]:
s = "hello"

Extracting 3rd element of string s

In [16]:
s[2]

'l'

Changing 3rd element of string s to 'p'

In [17]:
s[2] = 'p'

TypeError: 'str' object does not support item assignment

**The elements of a string cannot be changed or modified. Hence it is an imutable data type.**